# Ignore unnecessary CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cbp

# Ignore the build and lib dirs
!build/.keep
build/*
!lib/.keep
lib/*

# Ignore any executables
!bin/.keep
bin/*

# Ignore Mac specific files
.DS_Store